@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap');
 *{
    font-family: 'Poppins', sans-serif;
 }
#f-col{
    border-radius: 10px;


}

#f-col2{
    height: 98vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height:485px;
}

.mybuttonper{
    border: none;
    border-radius: 0;
    margin: 5px;
    width: 590px;
    height: 25px;
    padding: 0;
}

#mainContainer{
    /* margin-top: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
}



#h22{
    margin-bottom: 10px;
    font-weight: 800;
}
